<!DOCTYPE html>
<html>
<head>
	<title>Here it is...</title>

	<% include head %>

</head>
<body>
	<% include navbar %>
	<div class="container">
		<!-- <div class="row"> -->
			<div class="col-sm-12">
				<% for(let i = 0; i < dataForPosters.length; i++){ %>
						<div class="col-sm-4">
							<a href="#title<%=i%>"><img src="<%= imageBaseUrl + dataForPosters[i].poster_path %>"/></a>
						</div>
				<% }; %>
				<% for(let j = 0; j < dataForPosters.length; j++){ %>
					<div id="title<%=j%>" class="row text">
						<h2><%= dataForPosters[j].title %></h2>
						<h4><%= dataForPosters[j].overview %></h4>
					</div>
				<% } %>
			</div>
		<!-- </div> -->
	</div>

</body>
</html>